.nav {
  font-family: var(--poppins);
}
.fixedHead {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 30px;
  max-width: 1440px;
  background-color: var(--color);

  max-width: 3000px;
  margin: 0 auto;

  padding-left: 70px;
  padding-right: 70px;

  &__left {
    display: flex;
  }
  &__right > button {
    border: none;
    background: transparent;
  }
  &__right > button:first-child {
    margin-right: 20px;
  }
}
.iconParent {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.iconParent > a {
  margin-left: 10px;
  color: white;

  font-family: var(--roboto);
  font-weight: 300;
}
.iconParent:nth-child(2) {
  margin-left: 25px;
}
.iconParent:nth-child(4) {
  margin-left: 10px;
}
.iconParent:nth-child(5) {
  margin-left: 10px;
  margin-bottom: 2px;
}

.underHead {
  max-width: 3000px;
  margin: 0 auto;
  height: 1px;
  background-color: white;
}
