.title {
  font-family: var(--poppins);
  font-style: normal;
  font-size: 50px;
}
.caption {
  top: 40%;
}
//gradient
.gradient1 {
  background-image: linear-gradient(
      0deg,
      rgba(47, 60, 76, 0.68),
      rgba(47, 60, 76, 0.68)
    ),
    url(./Assets/Ukraine.jpg);
  height: 575px;
  background-size: cover;
}
.gradient2 {
  background-image: linear-gradient(
      0deg,
      rgba(47, 60, 76, 0.68),
      rgba(47, 60, 76, 0.68)
    ),
    url(./Assets/Azerbaijan.jpg);
  height: 575px;
  background-size: cover;
}
.gradient3 {
  background-image: linear-gradient(
      0deg,
      rgba(47, 60, 76, 0.68),
      rgba(47, 60, 76, 0.68)
    ),
    url(./Assets/Turkey.jpg);
  height: 575px;
  background-size: cover;
}
