.title {
  font-family: var(--poppins);
  font-style: normal;
  font-size: 50px;
}
.caption {
  top: 40%;
}
//gradient
.gradient1 {
  background-image: linear-gradient(
      0deg,
      rgba(26, 89, 165, 0.4),
      rgba(26, 89, 165, 0.4)
    ),
    url(./Assets/Ukraine.jpg);
  height: 575px;
  background-size: cover;
}
.gradient2 {
  background-image: linear-gradient(
      0deg,
      rgba(26, 89, 165, 0.4),
      rgba(26, 89, 165, 0.4)
    ),
    url(./Assets/Azerbaijan.jpg);
  height: 575px;
  background-size: cover;
}
.gradient3 {
  background-image: linear-gradient(
      0deg,
      rgba(26, 89, 165, 0.4),
      rgba(26, 89, 165, 0.4)
    ),
    url(./Assets/Turkey.jpg);
  height: 575px;
  background-size: cover;
}
.carousel {
  max-width: 3000px;
  margin: 0 auto;
}
